.app-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-800);
    color: var(--white);
    z-index: 9999;
}

    .app-loading-container .spinner {
        border: 0.25rem solid var(--white-alpha-30);
        border-radius: 50%;
        border-top: 0.25rem solid var(--green-600);
        width: 2.5rem;
        height: 2.5rem;
        animation: spin 1s linear infinite;
        margin-bottom: 1.25rem;
    }
