<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="site-footer__links">
            @* TODO: Add /privacy and /terms links here when legal-compliance #2 lands. *@
            <NavLink class="site-footer__link" href="/cookie-policy">Cookie preferences</NavLink>
        </div>
        <div class="site-footer__copyright">
            &copy; @DateTime.UtcNow.Year The Predictions
        </div>
    </div>
</footer>
