@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="page">
    <CascadingAuthenticationState>
        <main class="@_backgroundClass">
            <NavLayout class="@_navLayoutClass" />

            <article class="content">
                @Body
            </article>
        </main>
    </CascadingAuthenticationState>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string _navLayoutClass = "";
    private string _backgroundClass = "";

    protected override void OnInitialized()
    {
        SetLayoutClasses();
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        SetLayoutClasses();
        StateHasChanged();
    }

    private void SetLayoutClasses()
    {
        var uri = new Uri(NavigationManager.Uri);
        var path = uri.AbsolutePath;

        var isHomePage = path == "/" || path == "";
        var isAuthenticationPage = path.StartsWith("/authentication/");

        _navLayoutClass = isHomePage ? "navbar-overlay" : "";
        _backgroundClass = isAuthenticationPage ? "bg-purple-gradient" : isHomePage ? "bg-grey-100" : "";
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}