@using ThePredictions.Domain.Common.Enumerations

<div class="@BadgeClass">
    <span class="badge-icon">
        <i class="@IconClass"></i>
    </span>

    @if (Status == MatchStatus.Scheduled)
    {
        <LocalTime UtcDate="@MatchDateTimeUtc" Format="dd/MM/yyyy 'at' HH:mm" />
    }
    else
    {
        <span>@ScoreText</span>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public MatchStatus Status { get; set; }

    [Parameter]
    public DateTime MatchDateTimeUtc { get; set; }

    [Parameter]
    public int? HomeScore { get; set; }

    [Parameter]
    public int? AwayScore { get; set; }

    private string BadgeClass => $"badge-group badge-group--blue{(Status == MatchStatus.InProgress ? " pulsing-blue" : "")}";

    private string IconClass => Status switch
    {
        MatchStatus.Scheduled => "bi bi-clock-fill",
        MatchStatus.InProgress => "bi bi-stopwatch-fill",
        MatchStatus.Completed => "bi bi-check-circle-fill",
        _ => ""
    };

    private string ScoreText => Status switch
    {
        MatchStatus.InProgress or MatchStatus.Completed => $"{HomeScore} - {AwayScore}",
        _ => "Unknown"
    }; 
}