.dashboard-container {
    width: 100%;
    margin: auto;
}

.position-info {
    color: var(--white);
}

    .position-info span:first-child {
        font-size: 1.2rem;
        font-weight: bold;
    }
