.hero-section {
    background: linear-gradient(var(--purple-900-alpha-80), var(--purple-900-alpha-80)), url('https://images.unsplash.com/photo-1579952363873-27f3bade9f55?q=80&w=1935&auto=format&fit=crop') no-repeat center center;
    background-size: cover;
    color: var(--white);
    padding: 6rem 0;
    position: relative;
}

.diagonal-clip {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.feature-icon {
    font-size: 3rem;
    color: var(--green-600);
}

.tick-icon {
    font-size: 1rem;
    color: var(--green-600);
}

.testimonial-card {
    background-color: var(--purple-600);
    border: none;
}

    .testimonial-card img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }
