@if (!string.IsNullOrEmpty(Message))
{
    <div class="message-box-solid error whitespace-pre" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}