/* Base application styles */
/* This file is bundled last to apply global defaults */

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey-100);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--purple-800);
    font-weight: 700;
}

#blazor-error-ui {
    background: var(--yellow);
    color: var(--purple-900);
    bottom: 0;
    box-shadow: 0 -1px 2px var(--black-alpha-20);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
